{% extends 'sidebar.html' %}
{% block content %}
{% load static %}

<style>
  a.btn:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 a.btn {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
</style>






<form action="holiday_search" class="form-inline" method="post">
          {% csrf_token %}


    <a class="btn btn-primary" href="holiday" role="button">Add Holiday</a> &nbsp &nbsp

    <input class="form-control mr-sm-2" type="date"  placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
  </form><br>






<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">holiday_name</th>
      <th scope="col">holiday_Date</th>
      <th scope="col">holiday_description</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
    <tr>
      <th scope="row">{{d.holiday_name}}</th>
      <td>{{d.holiday_date}}</td>
      <td>{{d.holiday_description}}</td>
      <td><a href="manage_holiday?id={{d.id}}" class="btn btn-primary a-btn-slide-text">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span><strong>Edit</strong></span>
    </a></td>
    <!-- <td><a href="delete/{{d.id}}" onclick="return myFunction();"><i class="fas fa-trash"></i></a></td> -->
    <td><a href="holiday_delete/{{d.id}}" class="btn btn-primary a-btn-slide-text">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <span><strong>Delete</strong></span>
    </a></td>
    </tr>
    {% endfor %}


</table>

{% endblock %}
